<img ng-src="/images/useritems/{{userCtrl.nextElement(item).image}}"
     uib-tooltip="{{userCtrl.nextElement(item).name}}"/>

<div class="caption">
  <h3 class="text-center">{{userCtrl.nextElement(item).name}}
    - #{{userCtrl.nextElement(item).itemNumber}}</h3>

  <p class="text-justify">
    {{userCtrl.nextElement(item).description}}
  </p>

  <p class="text-center">
    <button ng-really-message="This will reveal and discard your item. Are you sure?"
            ng-really-click="userCtrl.discardItem(item)"
            class="btn btn-sm btn-danger"
            uib-tooltip="Reveal and discard your item. This will make an entry in the game log">
      Discard Item
    </button>

    <button ng-really-message="This will put your item back in the deck and deck will be shuffled. Use this when you have made a mistake"
            ng-really-click="userCtrl.backInDeck(item)"
            class="btn btn-sm btn-success"
            uib-tooltip="Use this button when you have made a mistake. Item will be put back in the deck and shuffle">
      Put back in deck
    </button>
  </p>
</div>
